#page{
	width:450px;
	height:600px;
	/*border:#FF7185 solid thin;*/
    margin-left: 35%;
    background-color: #E8C6C2;
  }
#logo{
	width:450px;
	height:70px;
	background-color:#ff606d;
}
#main {
    background-color: #FFE9AD;
    height: 530px;
}
#logo img{
	margin-top:10px;
}
#logo b{
	position:relative;
	top:-10px;
}
#main .m1{
	width:270px;
	height:40px;
	margin-left:42px;
	margin-top:20px;
	font-size:20px;
}
#main .m01{
	width:50px;
	height:8px;
	margin-left:0px;
	margin-top:30px;
	font-size:10px;
	color:gray;
}
#main .m02{
	width:50px;
	height:8px;
	margin-left:0px;
	margin-top:30px;
	font-size:10px;
	color:gray;
}
#main .m03{
	width:50px;
	height:8px;
	margin-left:0px;
	
	font-size:10px;
	color:gray;
}
#main .m04{
	width:50px;
	height:8px;
	margin-left:0px;
	
	font-size:10px;
	color:gray;
}
#main .m2{
	position:relative;
	top:0px;
	font-size:10px;
	}
#main .p1{
	position:relative;
	left:320px;
	font-size:8px;
	color:#ff606d;
}
#main .m3{
	width:270px;
	height:40px;
	margin-top:20px;
	margin-left:42px;
	font-size:20px;
}
#main .m4{
	position:relative;
	left:5px;
	top:-4px;
	width:100px;
	height:38px;
	
	display:inline-block;
	
	color:#fff;
	font-size:14px;
	border:1px solid #ff606d;
	text-align:center;

	line-height:35px;
	background:#ff606d;
	cursor:pointer;
	}
#main .msgs1{background:#E6E6E6;color:#818080;border:1px solid #CCCCCC;}
}
#main .m5{
	position:relative;
	top:4px;
	}
	#main .m7{
	position:relative;
	top:-3px;
	left:-30px;
	font-size:12px;
	color:gray;
	}
#main p{
	position:relative;
	left:40px;
	font-size:8px;
	color:#ff606d;
}
#main .m6{
	margin-top:10px;
	width:150px;
	height:44px;
	margin-left:30px;
	font-size:20px;
	color:#fff;
	background-color:#ff606d;
} 
#main a{
	position:relative;
	margin-left:30px;
	font-size:20px;
	top:10px;
	text-decoration:none;
	color:#ff606d;
}
#main a:hover{
	color:#f30;
}