#page{
    position:relative;
	height:900px;
	width:1360px;
	background-color: #FFFFCC;
}
#logo{
	height:110px;
	width:200px;
}
#logo img{
	position:relative;
	margin-left:10px;
	
	
}
	#logo b {
    position: relative;
    margin-left: 15px;
    top: -15px;
    color: #FF5B4C;
}
#lr{
	position:absolute;
	margin-top:10px;
	margin-left:1200px;
	width:150px;
	height:20px;
	
}

#lr p{
	position:absolute;
	left:-100px;
	width:150px;
	
	
}
#aaa {
	position:absolute;
	
	width:100px;	
}
#aaa a{		
	position:absolute;
	width:35px;
	color:#000;
	text-decoration: none;
}
#aa0 {
	position:absolute;
	left:70px;
	width:50px;	
}
#aa0 a{		
	position:absolute;
	width:35px;
	color:#000;
	text-decoration: none;
}
#aa1 {
	position:absolute;
	width:100px;
	left:80px;
	top:17px;
	
}
#aa1 a{
	position:absolute;	
	width:40px;
	font-size:15px;
	color:#000;
	text-decoration: none;
}

#lr a:hover{
	color:#f30;
}

#dhl{
	position:absolute;
	top:60px;
	height:40px;
	width:1366px;
	background-color:#ff606d;
	left: -7px;
/*	border: #f30 solid 1px;*/
}
#dhl li{
	float:left;
	list-style-type:none;
    
}
#dhl a{
	position:relative;
	display:block;
	left:60px;
	top:-14px;
    padding:8px 25px;
	font-weight:600;
	margin-left:40px;
	color:#fff;
	text-decoration: none;
}
#dhl li a:hover{
	color:#58FF58;
/*background:#e4e4e4;*/
}
#dhl input{
	position:absolute;
	font-size:14px;
	right:5%;
	top:9px;
	
}
#addr{
	position:relative;
	margin-top:20px;
	left:70px;
	width:200px;
	
}
#addr a{
	color:#ff606d;
	text-decoration: none;
}
#addr a:hover{
	color:red;
}

.img {
	position:relative;
    float:left;
    text-align:center;
    margin-top:30px;
   
    padding-left: 60px;
  
	
	} 
.img a{
	text-decoration: none;
	color:#ff606d;
}
.img a p:hover{
 color:#fff;
 outline:1px dashed #ff606d;
 background-color:#ff606d;
}	
.img img{
	border:1px solid #bebebe;
	 display:inline;
}	
.img img:hover{
	border:1px solid #f30;
}

#foot{
	position:absolute;
    bottom:-245px;
	height:120px;
	width:100%;
	background-color:#ff606d;
	border: #f30 solid 1px;
}
#foot center p{
	position:relative;
	margin-top:70px;
	color:#fff;
	font-weight:500;
}